body{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url("../images/hinh/cua hang/ch1.jpg");
    background-repeat: no-repeat;
    
    border: 1px solid;
    height: 371px;
    width: 100%;
    
}
#main {
    display: table;
    border: 1px solid #00cc99;
    height: auto;
    width: 100%;
}
#main1 {
    display: table;
    padding-top: 0px;
    height: auto;
    width: 115%;
}
.sidebar {

        height: 25%;
        width: 5%;

        margin-left: 0px;
        float: left;
        z-index: 10;
        letter-spacing: 1.25px;
    }
ul.list_sidebar {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 285px;
        border: 2px solid;
        list-style: none;
        line-height: 45px;
        height: 748px;
        list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
ul.list_sidebar li:hover{
    
    background-color: #000;
    border-radius: 15%;
}
ul.list_sidebar li a:hover{
    color: whitesmoke;
    text-decoration: none;
}
ul.list_sidebar li a{
    text-decoration: node;
    text-align: center;
    color: cornflowerblue;
}
ul.list_sidebar li{
    margin: 10px;
    padding: 15px;
}
.maincontent{
    border: 1px solid;
    height: auto;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
ul.product_list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 98%;
}
ul.product_list li {
    width: 24%;
    border: 1px #000;
    margin: -28px;
    float: right;
}
ul.product_list li img{
    width: 219px;
    border:green 3px solid;
    border-radius: 10%;
}
p.title_product{
text-align: center;
color: blue;
font-size: 16px;
font-weight: bold;
}
p.price_product{
text-align: center;
color: rgb(229, 255, 0);
font-size: 16px;
font-weight: bold;
}
.footer{
    background-repeat: no-repeat;
    background-size: 1683px 153px;
    height: 0px;
    width: 100%;
}
.clear
{
    clear: both;
}